<!DOCTYPE html>
<html>
<head>
    <title>Fashion Web Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup_page/style.css') }}" >
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <!-- Use Bootstrap container for better content alignment -->
    
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('views.homepage')}}">DRZZ </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('views.homepage')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.styleme') }}">Style Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.magazine') }}">Magazine</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.chathistory') }}">Fashion Advisor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.marketing') }}">Marketing</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.lookalike') }}">Look-Alike</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Shop For
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_men_data')}}">Men</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_women_data')}}">Women</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_boys_data')}}">Boys</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_girls_data')}}">Girls</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_wedding_data')}}">Wedding</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_party_data')}}">Party</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_birthday_data')}}">Birthday</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_casual_data')}}">Casual</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_formal_data')}}">Formal</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_vacation_data')}}">Vacations</a></li>
                     
                    </ul>
                  </li>
                  
                </ul>

                
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login </a>
                       
                    </li>
                    
                </ul>
              </div>
            </div>
          </nav>
    
  
   
    <div class="box">

        <img src="../static/login_page/default.png">
        <div class="page">
            <div class="header">
                
                <a id="signup"href="{{ url_for('auth.signup') }}">Signup</a>
            </div>
            <div id="errorMsg"></div>
            <div class="content">
                
              <form class="signup" name="signupForm" onsubmit="return validateSignupForm()" method="POST">
                <input type="email" name="email" id="signEmail" placeholder="Email">
                <input type="text" name="name" id="signName" placeholder="Name">
                <input type="password" name="password" id="signPassword" placeholder="Password">
                <input type="password" name="confirm-password"  placeholder="Confirm Password"><br>
                <input type="submit" value="SignUp">
             </form>
            </div>
        </div>
    </div>
    <script src="../static/login_page/a.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
    
</body>