/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation bar */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #333;
}

/* Add this CSS for product grid layout */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.product {
    flex: 0 0 calc(25% - 20px); /* 4 products per row */
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}




.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 15px;
    margin-top: 5px;
}

.product p {
    font-size: 15px;
    margin-top: 5px;
}

/* Dropdown adjustments */
.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 16px;
    color: #333;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {
        font-size: 16px;
    }

    .product {
        flex: 0 0 calc(50% - 20px); /* 2 products per row */
        margin: 10px;
        padding: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .product img {
        max-width: 100%;
        height: auto;
    }

    .product h2 {
        font-size: 10px;
        margin-top: 5px;
    }

    .product p {
        font-size: 10px;
        margin-top: 5px;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0 0 4px 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .form-control {
        margin-top: 0;
        margin-bottom: 10px;
    }
}




