/* Reset default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation bar */
.navbar {
    background-color: #333;
    color: white;
    border-bottom: 1px solid #444;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.nav-link {
    color: white;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffc107;
}

/* Chatbot interface */
.chat-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}



.chat-box {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
  
}

#user-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#send-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #555;
}

/* ... Previous CSS code ... */

/* Product display */
.product {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
    transform: translateY(-5px);
}
::placeholder {
    font-weight: bold;
  }
.product-image {
    height: 340px;
    overflow-y: auto;
    margin-bottom: 10px;/* Adjust as needed */
}


    

/* Media Queries ... */



/* ... Previous CSS code ... */

/* Chatbot interface */
.chat-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure content doesn't overflow */
}


.chat-box {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    display: inline-block;
    max-width: 70%; /* Limit message width */
}

.bot-message {
    background-color: #c0daf0;
    float: left;
    clear: both;
}

.customer-message {
    background-color: #e1e5bc;
    float: right;
    clear: both;
}

/* ... More CSS code ... */

/* Media Queries */
@media (max-width: 768px) {
    .chat-container {
        margin-top: 20px;
    }
}
