body {
	font-family: Arial, sans-serif;
	background-image: url(abc.png);
	margin: 0;
	padding: 0;
}

.signup-container {
	background-color: white;
	padding: 20px;
	margin: 5% auto;
	margin-top: 0px;
	max-width: 400px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	
}


h2[id="heading_1"] {
	text-align: center;
	margin-bottom: 0px;
}

#heading_2 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 15px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #130665;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
	background-color: #040404;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#login-btn:disabled {
	background-color: #130665;
	cursor: not-allowed;
  }  

button[type="submit"]:hover {
	background-color: #ffaa01;
}
.navbar-custom {
	background-color:  #130665; /* change background color */
  }
  
  .navbar-custom .navbar-brand {
	color: #fff; /* change brand text color */
	
	font-size: 24px;
	display: flex;
	align-items: center;
  }
  
  .navbar-brand img {
	width: 140px; /* increase width */
	height: auto; /* maintain aspect ratio */
	margin-right: 10px;
  }
  
  .navbar-custom .navbar-nav .nav-link {
	color: #fff; /* change nav link text color */
	font-size: 15px;
	margin-right: 20px; /* add some spacing between nav links */
  }
  
  
  .nav-link {
    color: #fffdfd !important;
    font-weight: bold !important;
}
  


@media screen and (max-width: 768px) {
	@media only screen and (max-width: 768px) {
		.signup-container {
			max-width: 90%;
			margin: 10% auto;
		}
	}
	
	label {
	font-size: 16px;
	}
	
	input {
	padding: 8px;
	margin-bottom: 15px;
	}
	
	button[type="submit"] {
	padding: 8px;
	}
	
	.navbar-brand img {
	width: 100px;
	margin-right: 5px;
	}
	
	.navbar-custom .navbar-nav .nav-link {
	font-size: 15px;
	margin-left: 10px;
	}
	}
