<!DOCTYPE html>
<html>
<head>
    <title>Fashion Web Page</title>
    <link rel="stylesheet" href="../static/home/style.css">
</head>
<body>
    <div class="header">
        <h1>DRZZ</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#">Men</a>
                    <div class="dropdown-content">
                        <a href="#">Shirts</a>
                        <a href="#">Trousers</a>
                        <a href="#">Suits</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Women</a>
                    <div class="dropdown-content">
                        <a href="#">Dresses</a>
                        <a href="#">Skirts</a>
                        <a href="#">Blouses</a>
                    </div>
                </li>
                <li>
                    <a href="{{ url_for('views.stylemepage') }}">StyleMe</a>
                </li>
                <li ><a href="#">Login</a></li>
            </ul>
        </nav>
    </div>

    <div class="split-content">
        <div class="image-cover">
            <img src="../static/home/homepic.jpg" >
        </div>
        <div class="description">
            <h2>Discover and Shop</h2>
            <p>Explore our latest collections and find the perfect style for any occasion.</p>
            <button class="shop-button">Shop Now</button>
        </div>
    </div>

    <div class="products">
        
        <div class="product">
            <img src="occasional1.jpg" alt="Product 1">
            <h3> Product 1</h3>
            <p>Description of  Product 1</p>
            <span class="price">549.99</span>
            <button>Add to Cart</button>
        </div>
        
    </div>

    <script src="script.js"></script>
</body>
</html>
