<!DOCTYPE html>
<html>
<head>
    <title>Fashion Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Homepage/styles.css') }}" >
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <!-- Use Bootstrap container for better content alignment -->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">DRZZ </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.styleme') }}">Style Me</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Clothes For
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Men</a></li>
                      <li><a class="dropdown-item" href="#">Women</a></li>
                      <li><a class="dropdown-item" href="#">Boys</a></li>
                      <li><a class="dropdown-item" href="#">Girls</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Wedding</a></li>
                      <li><a class="dropdown-item" href="#">Party</a></li>
                      <li><a class="dropdown-item" href="#">Birthday</a></li>
                      <li><a class="dropdown-item" href="#">Casual</a></li>
                      <li><a class="dropdown-item" href="#">Formal</a></li>
                     
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">
                      Find By Image
                    </a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login </a>
                       
                    </li>
                    <li class="nav-item">
                       
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">Signup </a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <!-- Button trigger modal -->
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Choose Your Image</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <div class="input-group">
                <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <!-- Product items will be added here dynamically -->
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image_URL }}" alt="{{ product.product_name }}">
                <h2>{{ product.product_name }}</h2>
                <p>Price: ${{ product.price }}</p>
            </div>
        {% endfor %}
    </div>
    <script src="../static/Homepage/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>








