<!DOCTYPE html>
<html>
<head>
    <title>Fashion Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Homepage/styles.css') }}" >
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <!-- Use Bootstrap container for better content alignment -->
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('views.homepage')}}">DRZZ </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('views.homepage')}}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.styleme') }}">Style Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('views.magazine') }}">Magazine</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Shop For
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_men_data')}}">Men</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_women_data')}}">Women</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_boys_data')}}">Boys</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_girls_data')}}">Girls</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_wedding_data')}}">Wedding</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_party_data')}}">Party</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_birthday_data')}}">Birthday</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_casual_data')}}">Casual</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_formal_data')}}">Formal</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('views.fetch_vacation_data')}}">Vacations</a></li>
                     
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">
                      Look-Alike
                    </a>
                  </li>
                </ul>

                <form class="d-flex" role="search" action="/search" method="GET">
                  <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login </a>
                       
                    </li>
                    <li class="nav-item">
                       
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">Signup </a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Choose Your Image</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <div class="input-group">
                <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
        <!-- Product items will be added here dynamically -->
        <!-- Product items will be added here dynamically -->
<div class="container product-container">
  {% for product in products %}
    <div class="product">
      <img src="{{ product.image_URL }}" alt="{{ product.product_name }}">
      <h2>{{ product.product_name }}</h2>
      <p>Price: ${{ product.price }}</p>
    </div>
  {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination">
  {% if page > 1 %}
    <a href="{{ url_for('views.homepage', page=page-1) }}" class="page-link">Previous</a>
  {% endif %}

  {% for p in range(1, total_pages + 1) %}
    <a href="{{ url_for('views.homepage', page=p) }}" class="page-link{% if p == page %} active{% endif %}">{{ p }}</a>
  {% endfor %}

  {% if page < total_pages %}
    <a href="{{ url_for('views.homepage', page=page+1) }}" class="page-link">Next</a>
  {% endif %}
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>








