<!DOCTYPE html>
<html>

<head>
  <title>Fashion Web Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload/style.css') }}">
  <!-- Add Bootstrap CSS link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <!-- Use Bootstrap container for better content alignment -->

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('views.homepage')}}">DRZZ </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('views.homepage')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.styleme') }}">Style Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.magazine') }}">Magazine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.chathistory') }}">Fashion Advisor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.marketing') }}">Marketing</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.lookalike') }}">Look Alike</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop For
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_men_data')}}">Men</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_women_data')}}">Women</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_boys_data')}}">Boys</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_girls_data')}}">Girls</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_wedding_data')}}">Wedding</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_party_data')}}">Party</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_birthday_data')}}">Birthday</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_casual_data')}}">Casual</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_formal_data')}}">Formal</a></li>
              <li><a class="dropdown-item" href="{{ url_for('views.fetch_vacation_data')}}">Vacations</a></li>

            </ul>
          </li>

        </ul>

        <form class="d-flex" role="search" action="/search" method="GET">
          <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login </a>

          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>
  
  <br>
  <div class="container">
    <div class="form-box">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <input type="file" name="file" class="form-control" id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
          <button class="btn btn-outline-secondary" type="submit" id="analyze-button">Upload</button>
        </div>
      </form>
      <img id="output" />
    </div>
  </div>


  

  <!-- Product Display -->
  <div class="container-fluid product-container">
    

    
    <!-- Display visually similar images -->
    
    <div class="product">
        {% for image_url in visually_similar_images %}
            <img src="{{ image_url }}" alt="Visually Similar Image" width="200">
        {% endfor %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="../static/upload/scripts.js"></script>

</body>

</html>